.MainVideo{
    background-image: url("https://github.com/ehalekote/BalurEstate/blob/master/img/round.png?raw=true");
    background-repeat: repeat;

    text-align: center;

    padding-top: 4%;
    padding-bottom: 4%;
}


.iframe-container {

    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
 
  }
  
  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }