.imgGrid img {
 	width: 100%;
	background-position: center center;
}

.SecondaryContent h2 {
	font-size: 150%;
	font-style: italic;
}

/* Laptop and Up */
@media (min-width: 1025px){
    .SecondaryContent{
	margin: 1%;
	margin-top: 3%;
	margin-bottom: 3%;
	}

	.SecondaryContent p {
		font-size: 110%;
	}
}

/* Tablets */
@media only screen and (max-width: 1024px){
    .SecondaryContent{
	margin: 2%;
	margin-top: 4%;
	margin-bottom: 4%;
	}

	.SecondaryContent p {
		font-size: 105%;
	}
}

/* Phones */
@media only screen and (max-width: 767px){
    .SecondaryContent{
	margin: 3%;
	margin-top: 6%;
	margin-bottom: 6%;
	}

	.SecondaryContent p {
		font-size: 100%;
	}
}

