.backgroundCover {
    /* The image used */
    background-image: url("/imgs/hero_1.JPG");

    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.homeLogo{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%); 
}

/* Laptop and Up */
@media (min-width: 1025px){
    .homeLogo{
        max-width: 45%;
    }
}

/* Tablets */
@media only screen and (max-width: 1024px){
    .homeLogo{
        max-width: 55%;
    }
}

/* Phones */
@media only screen and (max-width: 767px){
    .homeLogo{
        max-width: 75%;
    }
}