.Footer{
    background-color:#1a1a1a;
    font-family: 'Mukta Mahee', sans-serif;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 4%;
    padding-bottom: 4%;

}

.title{
    color: white;
}